<div class="container">
  <button pButton (click)="newOrder()" label="New Order"></button>
  <br>
  <ul class="inline">
    <p-panel *ngFor="let order of orders" class="panel">
      <p-header>
        ID: {{order.$key}}
      </p-header>
      <p>Items: {{order.items ? order.items.length : 0}}</p>
      <p>Total: {{order.totalPrice}}€</p>
      <p>Status: {{order.status}}</p>
      <p><small>Date: {{order.createdAtUtc}}</small></p>
      <p-footer>
        <button pButton type="button" (click)="deleteOrder(order)" label="Delete" class="ui-button-danger"></button>
        <button pButton type="button" (click)="editOrder(order)" label="Edit"></button>
      </p-footer>
    </p-panel>
  </ul>

  <p-dialog [(visible)]="modal.visible">
    <p-header>
      Edit Order
    </p-header>
    <div [formGroup]="formGroup">
      <label>Status</label>
      <p-dropdown [options]="statuses" [autoWidth]="false" formControlName="status"></p-dropdown>
    </div>
    <p-footer>
      <button pButton (click)="cancel()" label="Cancel" class="ui-button-danger"></button>
      <button pButton (click)="save()" label="Save"></button>
    </p-footer>
  </p-dialog>
</div>
