<form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="field">
    <label>Email</label>
    <input pInputText type="email" formControlName="email">
  </div>
  <div class="field">
    <label>Password</label>
    <input pInputText type="password" formControlName="password">
  </div>
  <br>
  <div class="ta-center">
    <button pButton type="submit" [disabled]="!loginForm.valid" [ngClass]="{'disabled-button': !loginForm.valid }" label="Log In"></button>
    <br><br>
    <button pButton type="button" class="ui-button-danger" label="Log In With Google" (click)="loginWithGoogle()"></button>
  </div>
</form>
<br>
<div>
  <small>Not registered yet?</small>
  <a (click)="register()"><small>Sign up here</small></a>
</div>
<div>
  <small>Forgot your password?</small>
  <a (click)="resetPassword()"><small>Reset it here</small></a>
</div>

<jaspero-alerts [defaultSettings]="{ duration: 0 }"></jaspero-alerts>
