<div class="container">
  <button pButton (click)="newProduct()" label="New Product"></button>
  <br>
  <h2 *ngIf="products.length === 0">No Product Yet...</h2>
  <ul class="flex-container wrap">
    <p-panel *ngFor="let product of products" class="panel">
      <p-header>
        {{product.name}}
      </p-header>
      <p>{{product.description}}</p>
      <p><b>Price:</b> {{product.price}}€</p>
      <p-footer>
        <button *ngIf="currentUser.role === 'admin'" 
                pButton type="button" (click)="deleteProduct(product)" label="Delete" class="ui-button-danger"></button>
        <button pButton type="button" (click)="editProduct(product)" label="Edit"></button>
      </p-footer>
    </p-panel>
  </ul>
</div>

<product-form-dialog [(visible)]="modal.visible" [product]="modal.product" (submit)="save($event)"></product-form-dialog>

<jaspero-confirmations [defaultSettings]="{ overlayClickToClose: false }"></jaspero-confirmations>