.container {
  display: grid;
  grid-template-rows: 64px calc(100vh - 64px - 32px) 32px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"; 
}

.header {
  grid-area: header;
  align-self: center;
}
.main {
  grid-area: main;
  align-self: center;
  justify-self: center;
}
.footer {
  grid-area: footer;
  align-self: center;
  justify-self: end;
}

.navbar {
  background-color: #386E9D;
  color: white;
  display: inline-flex;
  padding: 0 8px;
  a {
    color: white;
    line-height: 64px;
    margin-right: 16px;
  }
}

.flex {
  flex: 1;
}
