/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

a {
  text-decoration: underline;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.flex {
  flex: 1;
}

.nowrap  { 
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  

.ui-dropdown {
  width: 100%;
}

label {
  display: block;
}

input {
  width: 100%;
}

.ta-center {
  text-align: center !important;
}

.panel {
  min-width: 196px;
  margin: 16px 16px 16px 0;
  .ui-panel .ui-panel-footer {
    text-align: right;
  }
}

.ui-dialog.ui-widget .ui-dialog-content {
  padding-bottom: 96px !important;
}

jaspero-confirmation {
  pointer-events: inherit !important; // Bug fix!!! buttons don't work without this for some reason...
  .jaspero__dialog-actions[_ngcontent-c4] button.primary[_ngcontent-c4] {
    background-color: #d9534f !important;
  }
}
