/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

a {
  text-decoration: underline;
}

.ui-dropdown {
  width: 100%;
}

.ui-panel .ui-panel-footer {
  text-align: center !important;
}