<div class="container">
  <button pButton (click)="editProfile()" label="Edit Profile"></button>
  <br>
  <ul class="flex-container wrap">
    <p-panel *ngFor="let product of products" class="panel">
      <p-header>
        {{product.name}}
      </p-header>
      <p>{{product.description}}</p>
      <p>Price:{{product.price}}€</p>
      <p-footer class="flex-container">
        <span>Qtd: 0</span>
        <span class="flex"></span>
        <button pButton type="button" (click)="removeFromCart(product)" label="-" class="ui-button-danger"></button>
        <button pButton type="button" (click)="addToCart(product)" label="+"></button>
      </p-footer>
    </p-panel>
  </ul>
  <br>
  <button pButton (click)="checkout()" label="Checkout" class="ui-button-success"></button>

  <p-dialog [(visible)]="modal.visible">
    <p-header>
      Edit Profile
    </p-header>
    <div [formGroup]="formGroup">
      <label>Billing Address</label>
      <textarea pInputTextarea rows="4" name="billingAddress" formControlName="billingAddress"></textarea>      
      <label>Shipping Address</label>
      <textarea pInputTextarea rows="4" name="shippingAddress" formControlName="shippingAddress"></textarea>
    </div>
    <p-footer>
      <button pButton (click)="cancel()" label="Cancel" class="ui-button-danger"></button>
      <button pButton (click)="saveProfile()" label="Save"></button>
    </p-footer>
  </p-dialog>
</div>