<div class="container">
  <button pButton (click)="editProfile()" label="Edit Profile"></button>
  <br>
  <ul class="flex-container wrap">
    <p-panel *ngFor="let product of products" class="panel">
      <p-header>
        {{product.name}}
      </p-header>
      <p>{{product.description}}</p>
      <p>Price:{{product.price}}€</p>
      <p-footer class="flex-container">
        <span>Qtd: {{getCartQuantity(product)}}</span>
        <span class="flex"></span>
        <button pButton type="button" (click)="removeFromCart(product)" label="-" class="ui-button-danger"></button>
        <button pButton type="button" (click)="addToCart(product)" label="+"></button>
      </p-footer>
    </p-panel>
  </ul>
  <br>
  <button pButton (click)="checkout()" [disabled]="cart.length === 0" label="Checkout" class="ui-button-success"></button>
</div>

<profile-form-dialog [(visible)]="modal.visible" [user]="modal.user" (submit)="save($event)"></profile-form-dialog>

<jaspero-alerts [defaultSettings]="{ duration: 0 }"></jaspero-alerts>